body {
  margin: 0;
  padding: 0;
  background: #0d1b2a;
}

.navigation {
  width: 50%;
  height: 10vh;
  margin: 0 auto;
  background: #415a77;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navigation__container {
  display: flex;
  justify-content: flex-end;
}

.movies {
  height: 80vh;
  width: 50%;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies__container {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 1rem;
}

.movies__inner--container {
  display: flex;
  justify-content: space-evenly;
}

.movies__container--header {
  display: flex;
  justify-content: space-around;
}

.movies__container--info {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.movies__container--list {
  display: flex;
  justify-content: space-between;
}

.movies__button {
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}
.movies__button:hover {
  text-shadow: 1px 1px #0d1b2a;
}
.movies__button:active {

}